<!DOCTYPE html>
<html>
  <h1>
    <% num1 = params[:number1].to_i %>
    <% num2 = params[:number2].to_i %>
    <%= num1 + num2 %>
    <%= num2 - num1 %>
    <%= num1 * num2 %>
    <%= num1 / num2 %>
  </h1>
</html>